{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="container">
  <h3>You have the following MAC Address(es) Registred For Testing:</h3>
  <hr>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">MAC</th>
        <th scope="col">Expiration Date</th>
        <th scope="col">Email</th>
        <th scope="col">User ID</th>
      </tr>
    </thead>
    <tbody>
      {% for row in rows %}
      <tr>
        <th scope="row">{{ loop.index }} </th>
        <td> {{ row ['mac_address'] }} </td>
        <td> {{  row ['date_expired'] }} </td>
        <td> {{ row ['email'] }} </td>
        <td> {{ row ['user_id'] }} </td>
      </tr>
      {% endfor %}
      </tbody>
  </table>
  <hr>
  <p>Register MAC Address - All humans working for you.</p>
  <p><a href="/">Register A New MAC Address.</a></p>
  <p><a href="#">Do You Need Help?</a></p>
</div>
{% endblock %}
